{
    "root": true,
    "env": {
      "browser": true,
      "node": true
    },
    "parser": "babel-eslint",
    "parserOptions": {
      "ecmaVersion": 6,
          "sourceType": "module",
          "ecmaFeatures": {
              "jsx": true
          }
    },
    "settings": {
      "react": {
        "version": "detect"
      }
    },
    "extends": ["plugin:react/recommended", "plugin:prettier/recommended"],
    // add your custom rules here
    "rules": {
      "react/prop-types": 1,
      "react/no-unescaped-entities": 0
    }
  }
  